@font-face {
  font-family: "Italiana";
  src: url(Fonts/Italiana/Italiana-Regular.ttf);
}

@font-face {
  font-family: "Dokdo";
  src: url(Fonts/East_Sea_Dokdo/EastSeaDokdo-Regular.ttf);
}

body {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  grid-template-rows: 20vh 80vh;
  background-color: #C9C6D2;
}

#titel h1 {
  font-family: "Italiana";
}

#titel p {
  font-family: "Dokdo";
  font-size: 30px;
  margin-top: -25px;
}

#titel {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#Om {
  grid-column: 1/2;
  grid-row: 1/2;
  font-size: large;
  display: flex;
  align-self: center;
  justify-self: center;
  background-color: #D9D9D9;
  padding: 40px;
  border-radius: 40px;
  margin-top: 10px;
}

img {
  grid-column: 3/3;
  grid-row: 1/2;
  display: flex;
  align-self: stretch;
  justify-content: center;
  border-radius: 40px;
  margin-top: 5px;
  width: 190px;
  height: 130px;
}

#Ingredients {
  grid-column: 1/2;
  grid-row: 2/2;
  display: flex;
  flex-direction: column;
  justify-self: center;
  background-color: #D9D9D9;
  margin: 100px 30px 50px 30px;
  padding-left: 40px;
  padding-right: 40px;
  border-radius: 40px;
}

#Ingredients h2 {
  text-align: center;
}



#Instruktioner {
  grid-column: 2/4;
  grid-row: 2/2;
  background-color: #D9D9D9;
  padding: 30px;
  display: flex;
  flex-direction: column;
  margin: 50px;
  margin-right: 100px;
  border-radius: 40px;
}

#Instruktioner h1{
text-align: center;
font-size: 30px;
}

#Instruktioner li {
    margin: 10px;
}

h1 a {
    color: inherit;
}

a {
  text-decoration: none;
}