@font-face {
  font-family: "Italiana";
  src: url(Fonts/Italiana/Italiana-Regular.ttf);
}

@font-face {
  font-family: "Dokdo";
  src: url(Fonts/East_Sea_Dokdo/EastSeaDokdo-Regular.ttf);
}

body {
  background-color: #cdd2c6;
  display: grid;
  grid-template-rows: 10vh 78vh 9vh;
}

header {
  grid-row: 1/2;
  display: flex;
  flex-direction: column;
  font-family: "Italiana", "Verdana";
  text-align: center;
}

h1 {
  color: #000000;
}

p {
  margin-top: -23px;
}

main {
  grid-row: 2/3;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-family: "Dokdo", "Verdana";
}

main div {
  padding: 80px;
  margin: 50px;
  background-color: #d8e1cb;
  border-radius: 38px;
  font-size: 70px;
}

footer {
  grid-row: 3/3;
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;
  justify-self: center;
  background-color: red;
  margin-top: 32px;
}

footer div {
  font-size: 20px;
  color: white;
  font-family: "Impact";
  -webkit-text-stroke: black 0.8px;
}

a {
  text-decoration: none;
}